/*** Import Fonts ***/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/*** Variables ***/

$Montserrat: 'Montserrat', sans-serif;
$Lato:	'Lato', sans-serif;
$Open-sans:	'Open Sans', sans-serif;
$dark-gray: #3c3c3c;
$light-gray: #34495e;
$UIblue: #57c6e1;
$dark-brown: #542900;

/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 800px) {
	
	.work-des-container {
		padding: 20px 0 !important;
	}
	
	body.cover {
		background-size: 100% !important;
		background-position: center 50px !important;
	}
}

@media screen and (max-width: 625px) {
	
	body.cover {
		background-image: url('../img/background-mobile1.jpg') !important;
		background-size: 100% !important;
		background-position: center 50px !important;
		-moz-animation: Background-md 1.3s ease !important;
		-webkit-animation: Background-md 1.3s ease !important;
		animation: Background-md 1.3s ease !important;
	}
}

@media screen and (max-width: 550px) {
	
	.work-des-container {
		min-width: 90% !important;
	}
	
	h4 {
		font-size: 15px !important;
	}
	
	body.cover {
		background-position: center 120px !important;
		-moz-animation: Background-ms 1.3s ease !important;
		-webkit-animation: Background-ms 1.3s ease !important;
		animation: Background-ms 1.3s ease !important;
	}
	
	.nav-item {
		padding: 5px 10px !important;
		
		&:nth-child(1) {
			padding-left: 0 !important;
		}
	}
}

body {
	background: white;
	font-family: $Lato;
}

/* -------------------------------- 
		General Styles
-------------------------------- */

/*** Navbar ***/

.navbar-container {
	position: fixed;
	height: 100px;
	top: 0;
	left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	z-index: 999;
	width: 90%;
	padding: 40px 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
		background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 

}

.logo-name {
	display: block;
	float: left;
	font-weight: 400;
	font-size: 18px;
	width: 50%;
	min-width: 200px;
}

.nav, .navbar {
	float: right;
	width: 250px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	animation-duration: .8s;

	a {
		color: $dark-gray;
		text-decoration: none;
	}
	
	.nav-item {
		padding: 5px 15px;
		display: inline-block;
		
		&:nth-child(1) {
			padding-left: 0;
		}
		
		&:after {
			content: '\00a0';
			display: block;
			height: 1px;
			width: 100%;
			position: relative;
			top: 3px;
			background: transparent;
			transition: top .3s ease-out;
			-webkit-transition: top .3s ease-out;
		}
		
		&:hover:after {
			top: 7px;
			background: #3c3c3c;
		}
	}
}

.active {
	&:after {
		height: 2px !important;
	}
	
	&.intro:after {
		background: #ecf0f1 !important;
	}
	
	&.resume:after {
		background: #1abc9c !important;
	}
	
	&.about:after {
		background: #9b59b6 !important;
	}
}

.section-container, .image-container {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

body.cover {
	position: fixed;
	background: #B9BDC0;
	background-image: url("../img/background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 40px;
	background-attachment: fixed;
	-moz-animation: Background 1.3s ease;
	-webkit-animation: Background 1.3s ease;
	animation: Background 1.3s ease;
	
	.navbar-container {
		background: transparent;
	}
}

@-moz-keyframes Background {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 40px;
	}
}

@-webkit-keyframes Background {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 40px;
	}
}

@keyframes Background {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 40px;
	}
}

@-moz-keyframes Background-md {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 50px;
	}
}

@-webkit-keyframes Background-md {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 50px;
	}
}

@keyframes Background-md {
	0% {
		background-position: center 100px;
	}
	100% {
		background-position: center 50px;
	}
}


@-moz-keyframes Background-ms {
	0% {
		background-position: center 170px;
	}
	100% {
		background-position: center 120px;
	}
}

@-webkit-keyframes Background-ms {
	0% {
		background-position: center 170px;
	}
	100% {
		background-position: center 120px;
	}
}

@keyframes Background-ms {
	0% {
		background-position: center 170px;
	}
	100% {
		background-position: center 120px;
	}
}

.work {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center space-around;
	justify-content: center space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: $Lato;
	
	.work-des-container {
		position: relative;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		padding: 50px 0;
		margin: 0 auto;
		width: 50%;
		min-width: 300px;
		max-width: 550px;
		flex: 1 1 400px;
	}
	
	.work-des {
		position: relative;
		width: 80%;
		padding-bottom: 10px;
		
		h4 {
			font-size: 18px;
		}
		
		p {
			font-weight: 300;
			font-size: 15px;
			line-height: 30px;
		}
		
		p.work-stamp {
			color: $light-gray;
			font-size: 13px;
		}
		
		.work-title {
			float: left;
		}
		
		.work-details {
			position: relative;
			margin-left: 120px;
		}
	}
}

.footer {
	position:fixed;
	margin-top: 30px;
	bottom:10px;
	height:20px;
	width:230px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	font-family: 'Inconsolata', ;		
	font-size: 15px;
	text-align: center;
	
	a {
		color: $dark-gray;
		text-decoration: none;
	}
}

img.section-image {
	width: 100%;
	height: auto;
	margin-top: -5px;
}