/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
/*** Variables ***/
/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 800px) {
  .work-des-container {
    padding: 10px 0 !important; } }

@media screen and (max-width: 550px) {
  .work-des-container {
    min-width: 90% !important; }
  h4 {
    font-size: 15px !important; } }

body {
  background: white;
  font-family: "Lato", sans-serif; }

/* -------------------------------- 
		General Styles
-------------------------------- */
/*** Navbar ***/
.navbar-container {
  position: fixed;
  height: 100px;
  top: 0;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 90%;
  padding: 40px 0; }

.logo-name {
  display: block;
  position: fixed;
  float: left;
  font-weight: 400; }

.nav, .navbar {
  float: right;
  width: 150px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .nav a, .navbar a {
    color: #3c3c3c;
    text-decoration: none; }
  .nav .nav-item, .navbar .nav-item {
    padding: 5px 0; }
    .nav .nav-item:after, .navbar .nav-item:after {
      content: '\00a0';
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      top: 3px;
      background: transparent;
      transition: top 0.3s ease-out;
      -webkit-transition: top 0.3s ease-out; }
    .nav .nav-item:hover:after, .navbar .nav-item:hover:after {
      top: 7px;
      background: #3c3c3c; }

.active:after {
  height: 2px !important; }

.active.resume:after {
  background: #1abc9c !important; }

.active.about:after {
  background: #9b59b6 !important; }

.section-container, .image-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%; }

.section-fixed {
  width: 100%;
  position: fixed;
  top: 100px; }

.section-relative {
  position: relative;
  background: blue; }

.work {
  position: relative;
  display: flex;
  -webkit-justify-content: center space-around;
  justify-content: center space-around;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif; }
  .work .work-des-container {
    position: relative;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 50px 0;
    width: 50%;
    min-width: 300px;
    max-width: 550px;
    flex: 1 1 400px; }
  .work .work-des {
    position: relative;
    width: 80%;
    padding-bottom: 10px; }
    .work .work-des h4 {
      font-size: 18px; }
    .work .work-des p {
      font-weight: 300;
      font-size: 13px;
      line-height: 30px; }
    .work .work-des p.work-stamp {
      color: #34495e; }
    .work .work-des .work-title {
      float: left; }
    .work .work-des .work-details {
      position: relative;
      margin-left: 120px; }

.footer {
  position: relative;
  margin-top: 30px;
  bottom: 10px;
  height: 20px;
  width: 230px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  font-family: "Inconsolata";
  font-size: 15px;
  text-align: center; }
  .footer a {
    color: #3c3c3c;
    text-decoration: none; }

img.section-image {
  width: 100%;
  height: auto;
  margin-top: -5px; }
